@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: max(1225px, 100vw);
    width: max;
    height: 70vh;
    position: relative;
}

.main .box {
    background-color: black;
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.6;
}

nav {
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 80vw;
    justify-content: space-between;
    height: 62px;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 1;
}

nav button {
    position: relative;
    z-index: 1;
}

.mid {
    color: white;
    display: flex;
    height: calc(100% - 62px);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 23px;
    position: relative;
    padding: 0 30px;
}

.mid> :first-child {
    font-family: "Martel Sans", sans-serif;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .mid> :first-child {
        font-weight: 700;
        font-size: 28px;
    }
}

.mid> :nth-child(2) {
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.mid> :nth-child(3) {
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.seperation {
    background-color: rgb(29, 29, 29);
    height: 8px;
    margin-bottom: 8vh;
}

.btn {
    background-color: transparent;
    color: white;
    font-weight: bold;
    padding: 3px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-red-sm {
    background-color: red;
}

.btn-red {
    background-color: red;
    font-size: 20px;
    padding: 8px 20px;
}

.inp {
    padding: 13px 80px 10px 12px;
    position: relative;
    color: rgb(255, 255, 255);
    ;
    background-color: rgba(23, 23, 23, 0.7);
    font-weight: 900;

}

.mid-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.first {
    width: 70vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}



.frsimg {
    position: relative;
}

.frsimg img {
    width: 30vw;
    position: relative;
    z-index: 10;
    top: 8px;
}

.frsimg video {
    position: absolute;
    right: 15%;
    height: 12vw;
    top: 20%;
}

.first>div :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    color: white;
}

.first>div :nth-child(2) {
    font-size: 24px;
    color: white;
    font-weight: 400;
}
@media screen and (max-width: 1200px){
    .first{
        flex-wrap: wrap;
    }
    .first>div :nth-child(1){
        font-size: 30px;
    }
    .first>div :nth-child(2) {
        font-size: 16px;
    }
}
.seperation2 {
    background-color: rgb(29, 29, 29);
    height: 8px;
    margin: 8vh 0 0 0;
    margin-bottom: 8vh;
}


.faq {
    background: black;
    color: white;
}

.faq h2 {
    font-size: 48px;
    text-align: center;
    padding: 20px;
}

.faqbox:hover {
    background-color: rgba(65, 65, 65, 1);
    color: white;
}

.faqbox {
    transition: all 1s 
ease-out;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    color: white;
    max-width: 80vw;
    margin: 8px auto;
    padding: 15px;
    cursor: pointer;
}

.ending {
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 34px;
    padding-bottom: 54px;
}


footer {
    width: 70vw;
    margin: auto;
    color: white;
    padding-bottom: 55px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 14px;
    padding-bottom: 55px;
}

.question {
    padding-bottom: 34px;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

footer a {
    color: white;
}

.blue {
    color: rgb(68, 142, 244);
}
@media screen and (max-width:1200px) {
    .faq h2{
        font-size: 28px;
    }
    .btn-red{
            white-space: nowrap;
    background-color: red;
    font-size: 12px;
    }
    .frsimg img{
        width: 62vw;
    }
    .frsimg video{
            position: absolute;
    right: 14%;
    height: 29vw;
    top: 20%;
    }
    .inp {
    padding: 8px 95px 6px 10px;
    }
    .grid{
        grid-template-columns: 1fr 1fr;
        font-size: 12px;
    }
    .mid{
        gap: 0px;
    }
    .mid-buttons{
        flex-direction: column;
    }
}